@font-face {
  font-family: "KhandB";
  src: url("../fonts/Khand-Bold.ttf");
}

@font-face {
  font-family: "KhandR";
  src: url("../fonts/Khand-Regular.ttf");
}

@font-face {
  font-family: "Bevan";
  src: url("../fonts/Bevan-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/** ---- BASIC ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "KhandR", sans-serif;
  font-size: 10px;
  background-color: whitesmoke;
}

a {
  font-family: "KhandR";
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

h1 {
  font-family: "Bevan";
  font-size: 11.6rem;
  line-height: 0.8;
  color: white;
}

h2 {
  font-family: "Bevan";
  font-size: 3.9rem;
  line-height: auto;
  color: white;
}

h3 {
  font-family: "Bevan";
  font-size: 4.6rem;
  line-height: auto;
  color: black;
}

h4 {
  font-family: "KhandB";
  font-size: 3.2rem;
  line-height: auto;
  color: black;
}

p {
  font-family: KhandR;
  font-size: 2.4rem;
  line-height: auto;
  color: #121116;
  text-shadow: 0 4px 4px #00000035;
}

.btn {
  display: inline;

  width: 200px;
  background: #6e0c00;
  padding: 4% 0;
  border: 2px solid #6e0c00;
  border-radius: 25px;

  font-family: "Bevan";
  font-size: 1.6rem;
  text-align: center;
  color: white;
}

/** --- Header ---*/

header {
  height: 60vh;
  background: url("../img/bg1.png") no-repeat;
  background-size: cover;

  margin-bottom: 15%;
}

header section:nth-of-type(1) {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 10vh;
  padding: 2% 5%;
  z-index: 5;
}

header section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  z-index: 5;
}

header section nav a {
  font-family: "Inter";
  z-index: 5;
}

/* ? ----------- */

header section:nth-of-type(2) {
  display: flex;
}

header section article {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 65%;
  height: 33vh;
  margin-left: 5%;
  z-index: 5;
}

header section article > .btn {
  margin-top: 5%;
  color: black;
  background-color: #ffe943;
  border-radius: 40px;
  border: none;
  padding: 15px 0;
}

header section:nth-of-type(2) > div {
  position: relative;
  width: 80%;
  height: 60vh;
  margin-left: -25%;
  margin-top: -10vh;
  z-index: 4;
}

header section:nth-of-type(2) div div:nth-of-type(1) {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

header section:nth-of-type(2) div div:nth-of-type(1) > img {
  height: 200%;
  width: 150%;
  position: absolute;
  top: -37%;
  right: -26%;
  z-index: 0;
  filter: saturate(1.5);
  opacity: 0.6;
}

header section:nth-of-type(2) div div:nth-of-type(2) {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 120%;
  width: 100%;
  z-index: 2;
}

header section:nth-of-type(2) div div:nth-of-type(2) > img {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 2;
  overflow: visible;
}

/** ----- Main Section 1 --- */

.mainS1 {
  display: flex;
  justify-content: space-between;

  width: 93%;
  margin: 0 auto 10% auto;
}

.mainS1 > a {
  width: 54%;
}

.mainS1 a img {
  width: 100%;
}

.mainS1 article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.mainS1 article a {
  width: 100%;
}

/** ---- Main Section 2 ---- */

.mainS2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 65vh;
}

.mainS2 article:nth-of-type(1) {
  width: 80%;

  text-align: center;
}

.mainS2 article:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.mainS2 article div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 55vh;
  width: 32%;

  overflow: hidden;
}

.mainS2 article div img {
  overflow: hidden;
}

.mainS2 article div .btn {
  margin: 0 auto;
}

.mainS2 article div h4 {
  text-align: center;
}

.mainS2 article div:nth-of-type(1) img {
  width: 85%;
  margin-left: 12%;
}

.mainS2 article div:nth-of-type(2) img {
  width: 105%;
  margin: 9% 0 0 -4%;
}

.mainS2 article div:nth-of-type(3) img {
  width: 100%;
  margin: 10% 0 0 2%;
}

/** ---- Footer --- */

footer {
  background: url("../img/bg2.png");
  width: 100%;
  padding: 5% 4%;
}

footer section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  width: 68%;
}

footer section img {
  height: 5vh;
  width: 28%;
}

footer section article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  height: 8vh;
}

footer section article a {
  font-size: 1.8rem;
}

footer article {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
footer article ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 12%;
}

footer article p {
  font-size: 1.6rem;
  font-weight: 100;
  color: white;
}
